@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}

section span {
 
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  
}

/* Animated gradient effect */
section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff, #f00, #ffffff);
  animation: animate 5s linear infinite;
}

/* Animation keyframes */
@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}